# LLMプロバイダの切り替え: ollama or openai
# LLM_PROVIDER=ollama
# LLM_PROVIDER=openai
LLM_PROVIDER=chatai

# Ollama設定
OLLAMA_BASE_URL=http://localhost:11434/v1
OLLAMA_MODEL=qwen3.5:9b

# OpenAI設定
OPENAI_API_KEY=your-api-key-here
OPENAI_MODEL=gpt-5.1

# ChatAI API設定（Azure OpenAI互換）
# CHATAI_API_BASE_URLは必ず書き直してください。(モデル名は含めない)
CHATAI_API_BASE_URL=http://xxxxxxxxx/xxxxxxx/chat-ai/gpt/
CHATAI_API_KEY=your-chatai-api-key-here
CHATAI_MODEL=gpt-5.1